In [54]:
import pandas as pd
import os

In [55]:
unDir = os.getcwd()
print(unDir)
os.listdir('.')

C:\Users\usuario\Desktop\Machine_Learning--2018\Jupyter_Notebook

['.ipynb_checkpoints',
 'Dataset_Iris_UCI.csv',
 'gender_submission.csv',
 'iris.data',
 'test.csv',
 'titanic.csv',
 'train.csv',
 'UT01_-_PDI02_-_Ej01_Martin_Rose.ipynb',
 'UT02_-_PDI04_-_Ej_01_-_Martín_Rose.ipynb',
 'UT02_-_PDI04_-_Ej_02_-_Martín_Rose.ipynb',
 'UT03_-_PDI01_-_Martin_Rose.xlsx',
 'UT03_-_PDI01_Martin_Rose.ipynb']

In [56]:
import pandas as pd
unArchivo = pd.ExcelFile('UT03_-_PDI01_-_Martin_Rose.xlsx')
df = unArchivo.parse()
df.head(160)

,Unnamed: 0,x,y,Unnamed: 3,Unnamed: 4
0,NaN,1,1,NaN,NaN
1,NaN,3,2,NaN,NaN
2,NaN,2,3,NaN,NaN
3,NaN,4,3,NaN,NaN
4,NaN,6,2,NaN,NaN
5,NaN,5,5,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,mean (x),mean (y),NaN,NaN
8,NaN,3.5,2.66667,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,xi- mean(x),yi - mean(y),(xi- mean(x)) * (yi- mean(y)),NaN
11,NaN,-2.5,-1.66667,4.16667,NaN
12,NaN,-0.5,-0.666667,0.333333,NaN
13,NaN,-1.5,0.333333,-0.5,NaN
14,NaN,0.5,0.333333,0.166667,NaN
15,NaN,2.5,-0.666667,-1.66667,NaN
16,NaN,1.5,2.33333,3.5,NaN
17,NaN,Sumatoria=,NaN,6,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,suma ^2,NaN,NaN,NaN
20,NaN,6.25,NaN,NaN,NaN
21,NaN,0.25,NaN,NaN,NaN
22,NaN,2.25,NaN,NaN,NaN
23,NaN,0.25,NaN,NaN,NaN
24,NaN,6.25,NaN,NaN,NaN
25,NaN,2.25,NaN,NaN,NaN
26,NaN,17.5,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN
29,NaN,b1=,0.342857,NaN,NaN
...,...,...,...,...,...
39,NaN,6,3.52381,2,2.322
40,NaN,5,3.18095,5,3.30893
41,NaN,RMSE=,NaN,NaN,1.10123
42,NaN,NaN,NaN,NaN,NaN
43,NaN,x,yPrima,NaN,NaN
44,NaN,0,1.46667,NaN,NaN
45,NaN,0.1,1.50095,NaN,NaN
46,NaN,0.2,1.53524,NaN,NaN
47,NaN,0.3,1.56952,NaN,NaN
48,NaN,0.4,1.60381,NaN,NaN
49,NaN,0.5,1.6381,NaN,NaN
50,NaN,0.6,1.67238,NaN,NaN
51,NaN,0.7,1.70667,NaN,NaN
52,NaN,0.8,1.74095,NaN,NaN
53,NaN,0.9,1.77524,NaN,NaN
54,NaN,1,1.80952,NaN,NaN
55,NaN,1.1,1.84381,NaN,NaN
56,NaN,1.2,1.8781,NaN,NaN
57,NaN,1.3,1.91238,NaN,NaN
58,NaN,1.4,1.94667,NaN,NaN
59,NaN,1.5,1.98095,NaN,NaN
60,NaN,1.6,2.01524,NaN,NaN
61,NaN,1.7,2.04952,NaN,NaN
62,NaN,1.8,2.08381,NaN,NaN
63,NaN,1.9,2.1181,NaN,NaN
64,NaN,2,2.15238,NaN,NaN
65,NaN,2.1,2.18667,NaN,NaN
66,NaN,2.2,2.22095,NaN,NaN
67,NaN,2.3,2.25524,NaN,NaN
68,NaN,2.4,2.28952,NaN,NaN

In [57]:
df1 = unArchivo.parse()
print(df1.iloc[0:6,1:3])

   x  y
0  1  1
1  3  2
2  2  3
3  4  3
4  6  2
5  5  5

In [58]:
print(df1.iloc[7:9,1:3])

          x         y
7  mean (x)  mean (y)
8       3.5   2.66667

In [59]:
print(df1.iloc[10:16,1:4])

              x             y                     Unnamed: 3
10  xi- mean(x)  yi - mean(y)  (xi- mean(x)) * (yi- mean(y))
11         -2.5      -1.66667                        4.16667
12         -0.5     -0.666667                       0.333333
13         -1.5      0.333333                           -0.5
14          0.5      0.333333                       0.166667
15          2.5     -0.666667                       -1.66667

In [60]:
print(df1.iloc[17:18,1:4])

             x    y Unnamed: 3
17  Sumatoria=  NaN          6

In [61]:
print(df1.iloc[19:26,1:2])

          x
19  suma ^2
20     6.25
21     0.25
22     2.25
23     0.25
24     6.25
25     2.25

In [62]:
print(df1.iloc[29:30,1:3])
print(df1.iloc[31:32,1:3])

      x         y
29  b1=  0.342857
      x        y
31  b0=  1.46667

In [63]:
print(df1.iloc[34:42,1:5])

        x        y Unnamed: 3 Unnamed: 4
34      x       y'          y   error ^2
35      1  1.80952          1   0.655329
36      3  2.49524          2   0.245261
37      2  2.15238          3   0.718458
38      4   2.8381          3  0.0262132
39      6  3.52381          2      2.322
40      5  3.18095          5    3.30893
41  RMSE=      NaN        NaN    1.10123

In [64]:
print(df1.iloc[43:71,1:3])

      x        y
43    x   yPrima
44    0  1.46667
45  0.1  1.50095
46  0.2  1.53524
47  0.3  1.56952
48  0.4  1.60381
49  0.5   1.6381
50  0.6  1.67238
51  0.7  1.70667
52  0.8  1.74095
53  0.9  1.77524
54    1  1.80952
55  1.1  1.84381
56  1.2   1.8781
57  1.3  1.91238
58  1.4  1.94667
59  1.5  1.98095
60  1.6  2.01524
61  1.7  2.04952
62  1.8  2.08381
63  1.9   2.1181
64    2  2.15238
65  2.1  2.18667
66  2.2  2.22095
67  2.3  2.25524
68  2.4  2.28952

In [96]:
import matplotlib.pyplot as plt
import numpy as np
print(df1.iloc[43:71,1:3])
plt.axes(df1.iloc[43:71,1:2],df1.iloc[43:71,2:3])

      x        y
43    x   yPrima
44    0  1.46667
45  0.1  1.50095
46  0.2  1.53524
47  0.3  1.56952
48  0.4  1.60381
49  0.5   1.6381
50  0.6  1.67238
51  0.7  1.70667
52  0.8  1.74095
53  0.9  1.77524
54    1  1.80952
55  1.1  1.84381
56  1.2   1.8781
57  1.3  1.91238
58  1.4  1.94667
59  1.5  1.98095
60  1.6  2.01524
61  1.7  2.04952
62  1.8  2.08381
63  1.9   2.1181
64    2  2.15238
65  2.1  2.18667
66  2.2  2.22095
67  2.3  2.25524
68  2.4  2.28952

TypeError: axes() takes from 0 to 1 positional arguments but 2 were given